<!DOCTYPE html>
<html lang="en">
<head>
	<title><%=title %></title>

</head>

<body class="BODY">

    <% include include %>
    <!-- start navbar-->

    <section id="all_website">
    <nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" data-target="#Abd" data-toggle="collapse">
          <span class="icon-bar"></sispan>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand hvr-buzz-out">Quiz Maker</a>
      </div> 
      <div class="collapse navbar-collapse" id="Abd">
        <ul class="nav navbar-nav">
         <li class="dropdown ">
          <a href="#" class="dropdown-toggle active hvr-underline-from-center" data-toggle="dropdown">The Main menu<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
          <ul class="dropdown-menu">
          <li> <a href="CplusplusContest" target="_blank">Cplus Plus</a></li>
          <li> <a href="HTMLcontest" target="_blank">Html</a></li>
          <li> <a href="Javacontest" target="_blank">Java</a></li>
           <li> <a href="JScontest"  target="_blank">Java Script</a></li>
          <li class="divider"></li>
          <li><a href="user_created_contest" target="_blank">Create Quiz</a> </li>
          <li class="divider"></li>
          <li> <a href="about"  target="_blank">About</a></li>
          </ul>
         </li> 
      
        <li class="navbar-right" id="Abd" style="left: 550px">
         <div class="button-enter visible-lg ">
         <a href="/signin" target="_blank">
          <button class="btn btn-success hvr-pulse-shrink">Sign in</button>
          </a>
          <a href="/signup" target="_blank">
          <button class="btn btn-danger hvr-pulse-shrink">Sing Up</button>
          </a>
        </div>
        </li> 
        </ul>
      </div>
     </div>
      
    </nav> <!--end navbar-->


    <!-- start section Under navbar-->

    <section class="Under visible-lg navbar-fixed-top">
     <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <h5 id="a">Feel Free To</h5>
        </div>

        <div class="col-lg-2">
          <h5 id="a">Test Yourself</h5>
        </div>
        
      </div>
      </div>
     </div>
    </section>


    <!--end section Under navbar-->

  <!-- Controls -->
  <div class="carousel slide  " id="car" data-ride="carousel" >
    <ol class="carousel-indicators">
      <li class="active" data-target="#car" data-slide-to="0"></li>
      <li  data-target="#car" data-slide-to="1"></li>
      <li  data-target="#car" data-slide-to="2"></li>
      <li  data-target="#car" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img src="photo/prog2.jpg">
        <div class="carousel-caption hidden-xs hidden-sm">
        <h1 style="background-color:rgba(2,2,2,0.3);border-radius: 100px 0 100px 0;">Playing Test</h1>  </div>
      </div>
            <div class="item">
        <img src="photo/car3.jpg">
        <div class="carousel-caption hidden-xs hidden-sm">
          <h1 style="background-color:rgba(2,2,2,0.6);border-radius: 100px 0 100px 0;">Programming Test </h1>
        </div>
      </div>

        <div class="item">
        <img src="photo/car4.jpg">
        <div class="carousel-caption hidden-xs hidden-sm">
          <h1 style="background-color:rgba(2,2,2,0.3);border-radius: 100px 0 100px 0;">Create
          </h1>
        </div>
        </div>

        <div class="item">
          <img src="photo/car5.jpg">
           <div class="carousel-caption hidden-xs hidden-sm">
            <h1 style="background-color:rgba(2,2,2,0.3);border-radius: 100px 0 100px 0;">Contest
          </h1>
           </div>
        </div>
    </div>

    <a class="left carousel-control" href="#car" data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left"></span>
       prev
    </a>


    <a href="#car" class="right carousel-control" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right"></span>
       next
    </a>
  </div>

  <!-- End carousel slide-->
    
   <section class="Our-section text-center ">
    <div class="team">
    <div class="container">
     <div class="row">
      <h1 style="display:block" class="wow hvr-bounce-in" data-wow-delay='1.5s' data-wow-duration="1s">Programming Tests</h1>
     <div class="image">
      <div class="col-lg-6 visible-lg">
      <div class="item img1 wow bounceInLeft " data-wow-duration="1s" data-wow-offset="370" data-wow-iteration="1">
        <img src="photo/learn-4.jpg" class="img-responsive img-thumbnail I1">


   <!----------		 *********************************************************************************************** -->
		<div class="carousel-caption">
         <h1 id="A">Test Yourself in programming</h1>
        </div> 
      </div>
      </div>
      <div class="col-lg-6">
        <div class="col-lg-6">
        <a href="/Cpluspluscontest"> <!--                             hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh    -->
          <div class="item  wow bounceInDown img2" data-wow-duration="1s" data-wow-offset="370" data-wow-iteration="1" >
          <img src="photo/prog3.jpg" class="img-responsive img-thumbnail I2">
            <div class="carousel-caption">
              <span class="glyphicon glyphicon-play-circle s1" style="display: none;">Start</span>
              <h3 id="A1">Language c</h3>
            </div>
          </div>
        </a>
        </div>


      <div class="col-lg-6">
       <a href="/Javacontest"> <!--  kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk -->
         <div class="item img3 wow bounceInDown" data-wow-duration="1s" data-wow-offset="370" data-wow-iteration="1">
          <img src="photo/java.jpg" class="img-responsive img-thumbnail I3">
           <div class="carousel-caption">
            <h3 id="A2">java</h3>
            <span class="glyphicon glyphicon-play-circle s2" style="display: none;">Start</span>
           </div>
         </div>
        </a>
      </div>
        
      <div class="col-lg-6">
       <a href="/JScontest">
        <div class="item img4 wow bounceInUp" data-wow-duration="1s" data-wow-offset="210" data-wow-iteration="1">
          <img src="photo/javascript.jpg" class="img-responsive img-thumbnail I4">
           <div class="carousel-caption">
            <h3 id="A3">javascript</h3>
            <span class="glyphicon glyphicon-play-circle s3" style="display: none;">Start</span>
           </div>
        </div>
       </a>
      </div>

      <div class="col-lg-6">
       <a href="/HTMLcontest">
        <div class="item img5 wow bounceInUp" data-wow-duration="1s" data-wow-offset="210" data-wow-iteration="1">
          <img src="photo/back5.png" class="img-responsive img-thumbnail I5">
           <div class="carousel-caption">
            <h3 id="A4">HTML </h3>
            <span class="glyphicon glyphicon-play-circle s4" style="display: none;">start</span>
           </div>
        </div>
       </a>
      </div>
      </div>
     </div>
     </div>
    </div>
    </div>
   </section> 
   
   
   
   <section class="Create_quiz text-center wow fadeIn " data-wow-duration="2s" data-wow-offset="450">
 <div class="Box">
  <div class="container-fluid">
    <div class="row">
     <div class="col-lg-12">
       <h1 class="hvr-float-shadow ">You Can <strong style="color: rgba(255, 0, 0, 0.59)">Create </strong> your own Quiz</h1>
        <p class="lead ">
          has never been more <strong style="color: rgba(0, 128, 0, 0.84)">easy </strong>& <strong style="color: rgba(0, 128, 0, 0.84)">fun!</strong> 
        </p>
     </div>







     <div class="col-lg-5 parag visible-lg">
      <h1 class="hvr-shadow-radial"> <i style="color: rgba(255, 0, 0, 0.59)">Playing</i> and <i style="color: rgba(255, 0, 0, 0.59)">creating</i> quizzes</h1>
       <p class="lead hvr-shadow-radial">
         Always wanted to make a quiz, but couldn't find an easy quiz creator to help you out? With our online quiz creator it’s easy to make a quiz in less than five minutes. Just follow these simple steps to create online quizzes with our quiz maker.
       </p>
     </div>
 
     <div class="col-lg-7 col-xs-12">
       <div class="Box1 table navbar-right">
        <h3 style="display: block;" class="hvr-glow">Start your own Quiz</h3>
        <p style="font-size: 17px" class="hvr-glow">It's time to create your own in a few simple steps. You'll have people playing in no time!</p>

        <div class="form-group">
         <a href="/CplusplusContest">
         <button class="btn btn-info hvr-round-corners">Your Quiz will be like this </button>
         </a>
        </div>
        <a href="/user_created_contest"><button class="btn btn-danger btn-block hvr-round-corners ">Start</button></a> 
       </div>  
     </div>
    </div>
  </div>
 </div>
</section>
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   <!--end section Out-section-->


      <!--Start Section  contests-->


   <section class="contests text-center  wow fadeIn" data-wow-offset="300" data-wow-duration="2s">
     <div class="Con_Box">

      <h1 style="display: block; color: white ; font-size: 25px" class="hvr-buzz-out">
         Contest
      </h1>
       <div class="container">
          <div class="row">
            <div id = "ListOfContests" style="color: black">
             <div class="col-lg-offset-4 col-lg-4 col-xs-12">
               <button type="button" class="btn btn-primary btn-block wow zoomIn hvr-underline-from-center hvr-round-corners" data-wow-offset="300"  data-wow-duration="2s"  style="width: 100%"   data-toggle="modal" data-target=".bs-example-modal-sm">Righ Now</button>
             </div>
                  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 id="Cont"> Contest Right Now </h1>
                          <%- LIST %>
                        </div>
                      </div>
                     </div>
                   </div>
            </div>
     </div>
    </div>
   </section>


      <section class="contests text-center  wow fadeIn" data-wow-offset="300" data-wow-duration="2s">
     <div class="Con_Box Class_Old_Contest">

      <h1 style="display: white; color: white; font-size: 25px;" class="hvr-buzz-out">
         Old Contset
      </h1>
       <div class="container">
          <div class="row">
            <div id = "ListOfContests" style="color: white">
             <div class="col-lg-3 col-xs-12">
               <button type="button" class="btn btn-danger btn-block hvr-float hvr-float-shadow " style="width: 100%"   data-toggle="modal" data-target=".CPLUS">CPLUS PLUS</button>
             </div>

            <div class="col-lg-3 col-xs-12">
               <button type="button" class="btn btn-success btn-block hvr-float hvr-float-shadow" style="width: 100%"   data-toggle="modal" data-target=".JAVA">Java</button>
             </div>
            </div>

             <div class="col-lg-3 col-xs-12">
               <button type="button" class="btn btn-success btn-block hvr-float hvr-float-shadow" style="width: 100%"   data-toggle="modal" data-target=".JS">JavaScript</button>
             </div>

              <div class="col-lg-3 col-xs-12">
               <button type="button" class="btn btn-danger btn-block hvr-float hvr-float-shadow" style="width: 100%"   data-toggle="modal" data-target=".HTML">HTML</button>
             </div>

                 <div class="modal fade CPLUS" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 id="Cont"> CPLUS PLUS Contest </h1>
                        </div>
                                <%- CPLUS %>
                      </div>
                     </div>
                   </div>

                  <div class="modal fade JAVA" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        `            <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 id="Cont"> JAVA Contest </h1>
                        </div>

                        <%- JAVA %>
                      </div>
                     </div>
                   </div>

                  <div class="modal fade JS" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 id="Cont"> JAVASCRIPT Contest  </h1>
                        </div>
                            <%- JS %>
                      </div>
                     </div>
                   </div>

                  <div class="modal fade HTML" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                        HTML Contest
                        </div>
                              
                              <%- HTML %>  
                      </div>
                     </div>
                   </div>
     </div>
    </div>
   </div>
   </section>



   <section class="Our-cleint text-center  wow fadeIn" data-wow-offset="300" data-wow-duration="2s">
    <div class="container">
      <div class="row">
       <h3 style="display: block;" class="hvr-buzz-out">referance for studying</h3>
        <div class="cleint">
          <div class="col-lg-3">
           <div class="user1 wow rotateIn" data-wow-offset="300" data-wow-duration="2s">
           <a href="http://www.cplusplus.com/" target="_blank">
            <span class="glyphicon glyphicon-folder-open"></span>
           </a>
            <p class="lead ">C language</p>
           </div>
          </div>

          <div class="col-lg-3">
           <div class="user2 wow rotateIn" data-wow-offset="300" data-wow-duration="2s">
           <a href="https://www.w3schools.com/js/"  target="_blank">
        <span class="glyphicon glyphicon-folder-open"></span>
           </a>
            <p class="lead">JavaScript</p>

           </div>
          </div>

          <div class="col-lg-3">
           <div class="user3 wow rotateIn" data-wow-offset="300" data-wow-duration="2s">
           <a href="http://www.tutorialspoint.com/"  target="_blank">
            <span class="glyphicon glyphicon-folder-open"></span>
           </a> 
            <p class="lead">Java Language</p>
           </div>
          </div>

           <div class="col-lg-3">
           <div class="user4 wow rotateInDownRight" data-wow-offset="300" data-wow-duration="2s">
            <a href="https://www.codecademy.com/learn/web" target="_blank">
            <span class="glyphicon glyphicon-folder-open"></span>
            </a>
            <p class="lead">Html</p>
           </div>
          </div>
          <!--<div class="col-lg-offset-4 col-lg-4"> 
           <button class="btn btn-success btn-lg btn-block">choice</button>
          </div>-->
        </div>
      </div>
    </div>
   </section>



   <!-- start section Top-->
     <section class="Top container text-center">
      <div class="team1 visible-lg">
      <div class="container">
            <div class="row">
      <div class="brow">
        <h1 class="wow rubberBand" data-wow-offset="310" data-wow-duration="2s">The Best</h1>
      </div>
  <div class="carousel slide" id="car1"  data-ride="carousel">
    <ul class="carousel-indicators">
      <li class="active wow fadeIn " data-wow-offset="300" data-wow-duration="1s" data-target="#car1"  data-slide-to="0" data-wow-delay="0.4s">
       <h1>programming</h1>
      </li>
      <li  data-target="#car1" data-slide-to="1" class="wow fadeIn" data-wow-offset="300" data-wow-duration="1s" data-wow-delay="0.6s">
      <h1>Global</h1>
      </li>
      <li  data-target="#car1" data-slide-to="2" class="wow fadeIn" data-wow-offset="300" data-wow-duration="1s" data-wow-delay="0.8s">
      <h1>Math</h1>
      </li>
      <li  data-target="#car1" data-slide-to="3" class="wow fadeIn" data-wow-offset="300" data-wow-duration="1s" data-wow-delay="1s">
      <h1>English</h1>
      </li>
    </ul>
    <!--Programming-->
    <div class="carousel-inner text-center wow zoomIn" data-wow-duration="2s" data-wow-offset="330">
      <div class="item active ">
        <ul class="row list-unstyled">
        <li class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
         <div class="table-dev1 hvr-float-shadow">
         <img src="photo/java1.jpg" class="img-responsive img-thumbnail" id="im1">
         <h1 class="hhh" id="A10">Java Test</h1>
        <a href="/Javacontest"><button class="btn btn-success btnn1">Start The test</button></a> 
         </div>
        </li>
        <li class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="table-dev2 hvr-float-shadow">
         <img src="photo/c++.png" class="img-responsive img-thumbnail" id="im2">
          <h1 class="hhh" id="A11">c++ Test</h1>
          <a href="CplusplusContest"><button class="btn btn-danger btnn2">Start The Test</button></a> 
         </div>
        </li>
        <li class="col-lg-4 col-md-12 col-sm-12 col-xs-12">        <div class="table-dev3 hvr-float-shadow">
         <img src="photo/Html1.jpg" class="img-responsive img-thumbnail" id="im3">
          <h1 class="hhh" id="A12">Html Test</h1>
          <a href="/HTMLcontest"><button class="btn btn-info btnn3">Start The Test</button></a> 
         </div>
        </li>
       </ul>
      </div> <!--end dros-->
      <!--start photo-->
      <div class="item">
        <ul class="row list-unstyled">
         <li class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
         <div class="table-dev1 hvr-float-shadow">
         <img src="photo/java1.jpg" class="img-responsive img-thumbnail" id="im1">
         <h1 class="hhh" id="A10">Java Test</h1>
        <a href=""><button class="btn btn-success btnn1">Start The test</button></a> 
         </div>
        </li>
        <li class="col-lg-4">
        <div class="table-dev2 hvr-float-shadow">
         <img src="photo/Html1.jpg" class="img-responsive img-thumbnail" id="im2">
          <h1 class="hhh" id="A11"></h1>
          <a href="#"><button class="btn btn-danger btnn2"> </button></a> 
         </div>
        </li>
        <li class="col-lg-4">
        <div class="table-dev3 hvr-float-shadow">
         <img src="photo/Html1.jpg" class="img-responsive img-thumbnail" id="im3">
          <h1 class="hhh" id="A12"></h1>
          <a href=""><button class="btn btn-info btnn3"></button></a> 
         </div>
        </li>
       </ul>
      </div>

      <!--end photo-->
          <div class="item " >
        <ul class="row list-unstyled">
        <li class="col-lg-4">
         <div class="table-dev1 hvr-float-shadow">
         <img src="photo/Html1.jpg" class="img-responsive img-thumbnail" id="im1">
         <h1 class="hhh" id="A10"></h1>
        <a href=""><button class="btn btn-success btnn1">أضغط للمشاهدة</button></a> 
         </div>
        </li>
        <li class="col-lg-4">
        <div class="table-dev2 hvr-float-shadow">
         <img src="photo/Html1.jpg" class="img-responsive img-thumbnail" id="im2">
          <h1 class="hhh" id="A11"></h1>
          <a href="#"><button class="btn btn-danger btnn2"></button></a> 
         </div>
        </li>
        <li class="col-lg-4">
        <div class="table-dev3 hvr-float-shadow">
         <img src="photo/Html1.jpg" class="img-responsive img-thumbnail" id="im3">
          <h1 class="hhh" id="A12"></h1>
          <a href=""><button class="btn btn-info btnn3"></button></a> 
         </div>
        </li>
       </ul>
      </div>
      <!--start vedio-->
      <div class="item ">
        <ul class="row list-unstyled">
        <li class="col-lg-4 hvr-float-shadow">
         <div class="table-dev1">
         <img src="photo/Html1.jpg" class="img-responsive img-thumbnail" id="im1">
         <h1 class="hhh" id="A10"></h1>
        <a href=""><button class="btn btn-success btnn1"></button></a> 
         </div>
        </li>
        <li class="col-lg-4 ">
        <div class="table-dev2 hvr-float-shadow">
         <img src="photo/Html1.jpg" class="img-responsive img-thumbnail" id="im2">
          <h1 class="hhh" id="A11"></h1>
          <a href="#"><button class="btn btn-danger btnn2"></button></a> 
         </div>
        </li>
        <li class="col-lg-4">
        <div class="table-dev3 hvr-float-shadow">
         <img src="photo/Html1.jpg" class="img-responsive img-thumbnail" id="im3">
          <h1 class="hhh" id="A12"></h1>
          <a href=""><button class="btn btn-info btnn3"></button></a> 
         </div>
        </li>
       </ul>
      </div>
      <!--end vedio-->

      <!--start music-->
        <div class="item">
        <ul class="row list-unstyled">
        <li class="col-lg-4 hvr-float-shadow">
         <div class="table-dev1">
         <img src="photo/Html1.jpg" class="img-responsive img-thumbnail" id="im1">
         <h1 class="hhh" id="A10"></h1>
        <a href=""><button class="btn btn-success btnn1"></button></a> 
         </div>
        </li>
        <li class="col-lg-4">
        <div class="table-dev2  hvr-float-shadow">
         <img src="photo/Html1.jpg" class="img-responsive img-thumbnail" id="im2">
          <h1 class="hhh" id="A11"></h1>
          <a href="#"><button class="btn btn-danger btnn2"></button></a> 
         </div>
        </li>
        <li class="col-lg-4">
        <div class="table-dev3  hvr-float-shadow">
         <img src="photo/Html1.jpg" class=" img-thumbnail" id="im3">
          <h1 class="hhh" id="A12"></h1>
          <a href=""><button class="btn btn-info btnn3"></button></a> 
         </div>
        </li>
       </ul>
      </div>
    </div>
    <!--end music-->
  </div>
        </div>
      </div>
     </div>
</section> <!--end section Top-->

<!--Start section Create your own quiz-->


<!--<section class="example text-center wow fadeIn"  data-wow-duration="2s" data-wow-offset="300">
   <div class="Box2"> 
    <h2 style="display: block;">Example Quiz</h2>
    <a href="file:///E:/Faculty%20of%20Information%20Technology%20Engineering/project%20-%20Copy/Start_Quiz.html"><button class="btn btn-info btn-lg">Play Example Quiz</button>
    </a> 
   </div>
  </section>
-->
<!--End your Own Quiz-->



<!--start section About-->
  <section class="About text-center wow fadeIn" data-wow-duration="2s" data-wow-offset="430">
   <h1 class="hvr-buzz-out">what did our visitors say</h1>
    <div class="carousel slide" id="car2">
     <div class="carousel-inner">
       <div class="item active">

        <p class="lead">
         I think this website is the best website i see
        </p>
        <span class="hidden-xs">Abdulfattah Khudari</span>
       </div>

       <div class="item">
       <p class="lead ">
        Thank Very much for creating this website it's very usefull i like it a lot
        </p>
        <span class="hidden-xs">Ayed Alnator</span>
       </div>

       <div class="item">
       <p class="lead">
       I dont have enuogh words to describ this website it's very inersting 
        </p>
        <span class="hidden-xs"> Abdulrahman Alhussin</span>
       </div>
     </div>  

    <ol class="carousel-indicators">
      <li class="active " data-target="#car2" data-slide-to="0">
       <img src="photo/v1.jpg" class="img-responsive img-thumbnail">
      </li>
      <li  data-target="#car2" data-slide-to="1">
        <img src="photo/v2.jpg" class="img-responsive img-thumbnail ">
      </li>
      <li  data-target="#car2" data-slide-to="2">
        <img src="photo/v3.jpg" class="img-responsive img-thumbnail ">
      </li>
    </ol>
     </div> 
    </div>
  </section>
  <!--end section About-->
  <!--start section fotter-->

  <section class="fotter text-center wow fadeIn" data-wow-duration="2s" data-wow-offset="200">
    <div class="container">
      <div class="row">
       <div class="col-md-3 col-sm-4 col-xs-6">
        <h1 style="font-size:25px" class="hvr-buzz-out">Information</h1>
         <ul class="list-unstyled">
           <li> <a href="#">who are we</a> </li>
           <li> <a href="#">Abdulfattah Khudari</a> </li>
           <li> <a href="#">Abdulrahman Alhussin</a> </li>
           <li> <a href="#">Salim Dawod</a> </li>
           <li> <a href="#">Ayed Alnator</a> </li>
         </ul>
       </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
         <h1 style="font-size:25px" class="hvr-buzz-out">website Contains</h1>
          <ul class="list-unstyled">
           <li> <a href="#">Programming's Quiz</a> </li>
           <li> <a href="#">Math's Quiz</a> </li>
           <li> <a href="#">Global Information</a> </li>
           <li> <a href="#">Create Your Own Quiz</a></li>

         </ul>
       </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
         <h1 style="font-size:25px" class="hvr-buzz-out">Contest</h1>
         <ul class="list-unstyled">
           <li> <a href="#">Create your Own Contest</a> </li>
           <li> <a href="#">Chalinge your freinds</a> </li>
         </ul>
       </div>
       <div class="col-md-3 col-sm-4 col-xs-6 contact" >
        <h1 style="font-size:25px" class="hvr-buzz-out">Contact With Us</h1>
        <ul class="list-unstyled">
       <li><a href="https://wwww.facebook.com/"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i> </a></li>
        <li><a href="https://www.google.com/"><i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i></a></li> 
        <li><a href="https://www.twitter.com/"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a></li>
        <li><a href="https://www.youtube.com/"><i class="fa fa-youtube-square fa-3x" aria-hidden="true"></i></a></li>
        </ul>
       </div>
      </div>
    </div>
  </section>
  <!--end section fotter-->


  <!--start section finish-->
  <section class="end text-center">
    <div class="end1">
     <span>Quiz Maker</span>
    </div>
  </section>
  </section>
<!--
  <section class="buton_enter text-center" id="buton_enter" >
     <div class="button_enter1">
        <div>
         
            <div class="The_button" onclick="open11()" >
              <h3 style="display: block; padding: 10%"> Click Me </h3>
            </div>
        
        </div>
     </div>
  </section>
-->
  <section class="loading" id="l1">
      <div class="spinner" id='l2'>
       <div class="double-bounce1"></div>
       <div class="double-bounce2"></div>
      </div>
  </section>
     <div id="scrol">
       <i class="fa fa-chevron-up fa-3x"></i>
      </div>


	   
	   
       <script src = 'design/javascripts/socket.io.js' > </script> 
	   <script  src = "design/javascripts/js.cookie.js" > </script>

	   <script type="text/javascript">
	   
         socket = io(); 

	   ////////////////////////// change name of button ..........................
       
		 var USRNAME = "NO" ; 
		 var CONTEST = "NO" ; 
		 var IamPart = "NO" ;
		function goToPreContest(X){
		
		 CONTEST =  X.value /// name of contest ....
		 var TYPE = document.getElementById( 'Pretpye' + CONTEST );/// type if cplusplus or Java or .... 
         var LANtype = TYPE.getElementsByTagName('span')[0].id	;	 
		 
		 USRNAME  = document.getElementById( 'NAMEUSR' + CONTEST).value; /// player's Name ....
		 IamPart = "YES";
		 alert( "pre name of contest :  " + CONTEST + "\n\ntype of language : " + LANtype +"\n\n name of player : "+ USRNAME   );
		 Cookies.set( 'usrName' , USRNAME , {expires:0.125 } ); ///expires:0.125 is 3 hours !.
	     Cookies.set( 'contName' , CONTEST , {expires:0.125 } );
		 Cookies.set( 'mySituation' , IamPart , {expires:0.125 } );
	   if(LANtype == "1")
	   window.location.href = "/CplusplusQuestion/" + CONTEST ;
	   if(LANtype == "2")
	   window.location.href = "/HTMLQuestion/" + CONTEST ;
	   if(LANtype == "3")
	   window.location.href = "/JavaQuestion/" + CONTEST ;
	   if(LANtype == "4")
	   window.location.href = "/JSQuestion/" + CONTEST ;
		 
		 
		}
   		function  joinPlyer (S)  {
		       
			   var USER = S.value + "user" ; 
			   USRNAME = document.getElementById(USER).value;
			   CONTEST = S.value ;
			   IamPart = "YES";
			   Cookies.set( 'usrName' , USRNAME , {expires:0.125 } ); ///expires:0.125 is 3 hours !.
			   Cookies.set( 'contName' , CONTEST , {expires:0.125 } );
			   Cookies.set( 'mySituation' , IamPart , {expires:0.125 } );
			   
				socket.emit("addContestant" , S.value  );
			 }
       
	   function refreshPage(){
 
	     var check = Cookies.get('mySituation');
			if( check == "YES" ){
			var cont = Cookies.get("contName");
			socket.emit("addContestant" , cont);
			}
	   }
		refreshPage();			
	 
	   socket.on("goToContest" , function(data){
       if(data.LANG == 1)
	   window.location.href = "/CplusplusQuestion/" + data.CONT ;
	   if(data.LANG == 2)
	   window.location.href = "/HTMLQuestion/" + data.CONT ;
	   if(data.LANG == 3)
	   window.location.href = "/JavaQuestion/" + data.CONT ;
	   if(data.LANG == 4)
	   window.location.href = "/JSQuestion/" + data.CONT ;
	   
	   });
   
	   function splitTime(endtime) {
			  var t = endtime;
			  var seconds = Math.floor((t / 1000) % 60);
			  var minutes = Math.floor((t / 1000 / 60) % 60);
			  return {
				'total': t,
				'minutes': minutes,
				'seconds': seconds
			  };
                                           }

	function initializeClock(id, endtime) {
 	var clock = document.getElementById(id);
	  var minutesSpan = clock.querySelector('.minutes');
	  var secondsSpan = clock.querySelector('.seconds');

  	  var t = splitTime(endtime);
	      minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
   	    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

	  if (t.total < 1) {
			  ///                               delete contest LI ......................................
			  CONTEST  = id.slice(0 , id.length - 5  );
			  document.getElementById(CONTEST).remove();
	    }  
		   	 
			  }


	   setInterval(function(){
		var list      = document.getElementById('ListOfContests').getElementsByTagName('li');
		for ( i = 0 ; i < list.length ; i ++ ){
		Alltime = list[i].getElementsByTagName('span')[0].id.split('&');
		var rest = Number(Alltime[1]) - (new Date().getTime()- Number(Alltime[0]));
		initializeClock(list[i].id + "timer" , rest );
        }				   
		  }, 1000 );
		  
		  

		  

       </script>
</body>
</html>
